<!DOCTYPE html>
<html lang="en"><!--TODO: Change to it, and set to en when translated-->
<head>
	<title>About us</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="header"><a href="/">I Cecchini Del Mare</a></div>
<style>
body{margin: 0;}
img{width: 100%;}
#header {
	background-color: #4980F4;
	text-align: left;	
	padding: .5em;
	padding-left: 1em;
}
#header a {
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}
</style>

<img src="img/aboutusENG.png">

</body>
</html>