<!DOCTYPE html>
<html lang="en"><!--TODO: Change to it, and set to en when translated-->
<head>
	<title>Contact us</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style>body{margin:1em auto;max-width:40em;padding:0 .62em;font:1.2em/1.62 sans-serif;word-wrap:break-word;}h1{line-height:1.2;}</style>

<h1>Contact us</h1>

<p>For any issue with the website you can contact us at this email address.</p>

<a href="mailto:amministrazionececchinidelmare@gmail.com">amministrazionececchinidelmare@gmail.com</a>

<p>Before sending an email, make sure to read the <a href="/faq">FAQ page</a> and see if your issue is already covered there.</p>

</body>
</html>