<!DOCTYPE html><html lang="it"><head><title>Donazione</title><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"></head><body><style>body{margin: 0;}
#mainContent{
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font:1.2em/1.62 sans-serif;
	word-wrap:break-word;
}
h1{line-height:1.2;}
#header {
	background-color: #4980F4;
	text-align: left;	
	padding: .5em;
	padding-left: 1em;
}
#header a {
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}</style><div id="header"><a href="/">I Cecchini Del Mare</a></div><div id="mainContent"><h1>Supporta questo sito</h1><p>Questo sito non è a pagamento, e sarà sempre gratis da usare.</p><p>Non è necessario fare donazioni per continuare a usare questo sito, ma ogni aiuto è sinceramente apprezzato.</p><p>Grazie.</p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="hosted_button_id" value="VXUB8MS55SKVU"> <input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online."> <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form></div></body></html>