<!DOCTYPE html>
<html lang="it">
<head>
	<title>FAQ</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="header"><a href="/">I Cecchini Del Mare</a></div>
<style>
body{margin: 0;}
#mainContent{
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font:1.2em/1.62 sans-serif;
	word-wrap:break-word;
}
h1{line-height:1.2;}
#header {
	background-color: #4980F4;
	text-align: left;	
	padding: .5em;
	padding-left: 1em;
}
#header a {
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}
</style>
<div id="mainContent">

<h1>FAQ (Domande frequenti)</h1>

<h3>Che cos'è questo sito?</h3>
	<p>Questo sito ti permette di condividere la tua posizione attuale attraverso geolocazione, e di vedere la posizione di altri utenti su una mappa, e chattare con loro.</p>
	<p>I Checchini Del Mare è stato realizzato per il gruppo Facebook dello stesso nome.</p>
	<p>L'idea è che i pescatori subacquei useranno questo sito per trovare altri pescatori nelle vicinanze, immergersi insieme, o semplicemente chattare.</p>
	<p>E' realizzato per essere semplice e leggero, quindi non ha molte funzionalità, oltre a quelle menzionate, ma potrei continuare a svilupparlo eventualmente, se tempo e soldi lo permetteranno.</p>

<h3>Come funziona?</h3>
	<p>Puoi premere il pulsante "Trasmetti Posizione" per trasmettere la tua posizione attuale (ottenuta tramite GPS o metodo equivalente) così apparirai sulla mappa e gli altri utenti saranno in grado di vedere la tua posizione.</p>
	<img src="/img/faq/broadcastEraseLocationITA.jpg">
	<p>Gli altri utenti possono cliccare sulla tua icona, o sulla lista degli utenti online a destra, per chattare con te.</p>
	<img src="/img/faq/userIcon.jpg">
	<p>Se vuoi nascondere la tua posizione, puoi cliccare su "Nascondi Posizione".</p>

<h3>Perchè non compaio sulla mappa?</h3>
	<p>Per comparire sulla mappa devi cliccare su "Trasmetti Posizione" e permettere al sito di usare i servizi di geolocazione.</p>
	<img src="/img/faq/broadcastEraseLocationITA.jpg">

	<p>Come permettere la geolocazione su:</p>
	<a href="https://support.google.com/chrome/answer/142065?co=GENIE.Platform%3DAndroid&hl=it&oco=0">Chrome</a>
	<a href="https://www.mozilla.org/firefox/geolocation/">Firefox</a>

	<p>Se ancora non compari sulla mappa, potrebbe essere a causa di problemi con il tuo browser o il tuo servizio di geolocazione.</p>

<h3 id="distance">Perchè vedo il messaggio "Distanza: Sconosciuta"?</h3>
	<img src="/img/faq/distanceUnknownITA.jpg">
	<p>Questo messaggio compare quando la distanza tra te, e l'utente con cui stai chattando, non può essere calcolata per qualche motivo.
	Di solito è perchè uno o entrambi gli interlocutori non stà trasmettendo la propria posizione.</p>
	<p>Per risolvere questo problema, entrambi gli utenti devono premere il pulsante "Trasmetti Posizione", e permettere al sito di utilizzare i servizi di geolocazione.</p>
	<img src="/img/faq/broadcastEraseLocationITA.jpg">

<h3>Perchè non posso inviare immagini/files o fare altre cose che posso fare con la chat di Facebook?</h3>
	<p>La chat su questo sito non supporta quelle funzionalità. Può sembrare simile alla chat di Facebook, ma è molto più semplice.</p>

<h3>Posso inviare messaggi a utenti offline?</h3>
	<p>No, purtroppo questa funzionalità non è supportata da questo sito.</p>

<h3>Come posso leggere la mia cronologia delle conversazioni con un altro utente?</h3>
	<p>Quando l'utente è online, puoi aprire una chat con loro, e la completa cronologia delle vostre conversazioni sarà visibile nella finestra della chat se disponibile.</p>
	<p>Al momento non c'è alcun modo di leggere facilmente la cronologia delle conversazioni che condividi con un utente, quando l'utente è offline.</p>

<h3>Perchè la mia cronologia delle conversazioni non viene salvata?</h3>
	<p>Per salvare la cronologia delle conversazioni devi attivare i cookie del tuo browser.</p>
	<p>La cronologia delle conversazioni è salvata sul tuo dispositivo, non in internet, questo significa che se cambi dispositivo (per esempio spostandoti dal tuo computer al tuo smartphone) non sarai in grado di leggere la cronologia delle conversazioni precedente dal nuovo dispositivo.</p>

<h3>Il mio problema non è elencato in questa pagina.</h3>
	<p>Puoi contattarci <a href="/contattaci">qui</a>.</p>
</div>
</body>
</html>