<!doctype html>
<html>
<head>
    <html lang="en">
    <!--Meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Mario Cannistrà"/>
    <meta name="description" content="I Cecchini Del Mare - Geolocation-based social network for spearfishing"/>
    <meta name="keywords" content="I,Cecchini,Del,Mare,I Cecchini Del Mare,ICDM,spearfishing,pesca subacquea,pesca,subacquea,social network,social,network,diving,immersione,Italia,Italiano,chat,posizione,geolocazione,geolocalizzazione,geolocation,position,gps,node,friends,help,fucile,arpione,SCUBA,muta,sub,home"/>
	<title>I Cecchini Del Mare</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    <script src="js/js.cookie.js"></script>
    <script src="js/mobileDetection.js" ></script>
    <script type="text/javascript" src="js/translationHome.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body data-ng-app="ICDM" data-ng-controller="ctrl">

<div id="header">

<div id="headerButtons">
  <a id="aboutusLink" target="_blank" href="/aboutus" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-info-sign"></span> <span id="aboutusLabel">About us</span> </a>
  <a target="_blank" href="https://www.facebook.com/groups/cecchinidelmare/" class="btn btn-primary btn-sm">
    <span class="fa fa-facebook"></span> <span id="fbGroupLabel">Facebook group</span> </a>
  <a id="langSelector" class="btn btn-primary btn-sm">
    <span class="fa fa-language"></span> <span id="langLabel">Language</span> <img id="langFlag" src="img/flags/us.gif" height="11" width="16"> </a>
  <a id="faqLink" target="_blank" href="/faq" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-question-sign"></span> FAQ </a>
  <a id="contactusLink" target="_blank" href="/contactus" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-envelope"></span> <span id="contLabel">Contact us</span> </a>
  <a id="donateLink" target="_blank" href="/donate" class="btn btn-primary btn-sm">
    <span class="fa fa-paypal"></span> <span id="donateLabel">Donate</span> </a>

  <a id="logout" href="/logout" class="btn btn-danger btn-sm">
    <span class="fa fa-power-off"></span>  <span id="logoutLabel">Logout</span> </a>
</div>
</div>

<div class="container-fluid">

<script>
// The chat needs "user" so keep this before chat.js
var user = <%- JSON.stringify(user) %>;
</script>

<!--Chat-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="js/chat.js"></script>

<div id="mapContainer">

<div id="topMap">
  <a onclick="eraseLocation()" class="btn btn-default btn-sm">
    <span class="fa fa-ban"></span> <span id="eraseLabel">Erase Location</span> </a>

  <a onclick="broadcastLocation()" class="btn btn-default btn-sm">
    <span class="fa fa-map-marker"></span> <span id="broadcastLabel">Broadcast Location</span> </a>
</div>

<!-- MAP -->
<div id="map"></div>
<script type="text/javascript" src="/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa0eg5dlngFtHj19frzBL-3tPDaz67g-U&callback=initMap">
</script>

</div>
    <div id="contactsBox">
        <div id="contactsHandle"> <span id="contactsSpan">Spearfishers Online</span>  {{usersOnlineNumber}} </div>
            <!--All Online Users-->
            <!--Filters out uID so you don't show up in your own online users list-->
            <div id="tabs">

            <div class="tab" id="onlineTab"><span>Online</span></div>
            <div id="contactsList">
            <ul>
                <li 
                data-ng-repeat="contact in contactsListGET | filter:searchNG | filter:'!'+uID" 
                class="contactClass" 
                data-contactID="{{contact.id}}" 
                data-contactUID="{{contact.uniqueID}}" 
                data-contactPicture="{{contact.picture}}" 
                data-contactLat="{{contact.lat}}" 
                data-contactLng="{{contact.lng}}"> 
                {{contact.name}} <span ng-if="contact.unreadMessages" class="glyphicon glyphicon-envelope unread"></span>
                </li>
            </ul>
            </div>

            <div class="tab" id="offlineTab"><span id="chatHistorySpan">Chat History</span></div>
            <div id="offlineList">
            <ul>
                <li 
                data-ng-repeat="contactHistory in historyList | filter:searchNG" 
                class="contactClass" 
                data-contactUID="{{contactHistory.UID}}"
                data-history="true"> 
                {{contactHistory.name}}
                </li>
            </ul>
            </div>

            </div>

    <input id="searchField" type="text" name="search" placeholder="&#128269; Search a Spearfisher" data-ng-model="searchNG"/>
    </div>
</div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-99746590-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
