<!doctype html>
<html lang="en">
<head>
  <title>I Cecchini Del Mare</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/index.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
    crossorigin="anonymous"></script>
  <script src="js/js.cookie.js"></script>
  <script type="text/javascript" src="js/translationIndex.js"></script>
  
  <meta name="propeller" content="1166000546fec33a2ae623187153096e" />
</head>
<body>



<div id="header">

<div id="headerButtons">
  <a target="_blank" href="/aboutus" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-info-sign"></span> <span id="aboutusLabel">About us</span> </a>
  <a target="_blank" href="https://www.facebook.com/groups/cecchinidelmare/" class="btn btn-primary btn-sm">
    <span class="fa fa-facebook"></span> <span id="fbGroupLabel">Facebook group</span> </a>
  <a id="langSelector" class="btn btn-primary btn-sm">
    <span class="fa fa-language"></span> <span id="langLabel">Language</span> <img id="langFlag" src="img/flags/us.gif"> </a>
  <a target="_blank" href="/faq" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-question-sign"></span> FAQ </a>
  <a target="_blank" href="/contactus" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-envelope"></span> <span id="contLabel">Contact us</span> </a>
  <a target="_blank" href="/donate" class="btn btn-primary btn-sm">
    <span class="fa fa-paypal"></span> <span id="donateLabel">Donate</span> </a>
</div>
</div>


  <img id="bgLogo" src="/img/underwaterLogoENG.png">
  <div class="container text-center"  id="loginJumbotron">
		<h4 id="loginLabel">Login or Register with:</h4>
		<a id="fbButton" href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>  </a> 
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> </a>
	</div>

<div id="footer"> <a id="ppolLabel" href="/privacypolicy">Privacy policy</a> | <a id="tosLabel" href="/ToS">Terms of service</a></div>
</body>
</html>