<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>I Cecchini Del Mare</title>
	<html lang="it">
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<!--TODO: Probably don't need these on the login-->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="img/favicon.ico"/>
	<!--TODO: Adjust for login -->
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div id="header">
	About | FAQ | Contacts 
</div>

<div class="container" id="loginCont">
	<div class="jumbotron text-center">
		<h1> I Cecchini Del Mare  </h1>
		
		<p>Login or Register with:</p>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>  
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
	</div>

<!-- TODO: Modify and enable PRIVACY POLICY 
<a href="//www.iubenda.com/privacy-policy/8055448" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
-->

</div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ICDM Login -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-1375106933059501"
     data-ad-slot="3131388671"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<div id="footer">Privacy policy | Terms and conditions of use</div>

</body>
</html>