<!doctype html>
<html lang="en"> <!--TODO: Change to it, and set to en when translated-->
<head>
  <title>I Cecchini Del Mare</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/index.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
    crossorigin="anonymous"></script>
  <script src="js/js.cookie.js"></script>
  <script type="text/javascript" src="js/translation.js"></script>
</head>
<body>

<div id="header">
  <a target="_blank" href="/aboutus" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-info-sign"></span> About us </a>
  <a target="_blank" href="https://www.facebook.com/groups/cecchinidelmare/" class="btn btn-primary btn-sm">
    <span class="fa fa-facebook"></span> Facebook group </a>
  <a id="langSelector" class="btn btn-primary btn-sm">
    <span class="fa fa-language"></span> Language <img src="img/flags/us.gif"> </a>
  <a target="_blank" href="/faq" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-question-sign"></span> FAQ </a>
  <a target="_blank" href="/contactus" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-envelope"></span> Contact us </a>
</div>


  <img id="bgLogo" src="/img/underwaterLogo.png">
  <div class="container text-center"  id="loginJumbotron">
		<h4>Login or Register with:</h4>
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>  
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
	</div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ICDM Login -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-1375106933059501"
     data-ad-slot="3131388671"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<div id="footer"> <a href="/privacypolicy">Privacy policy</a> | <a href="/ToS">Terms of service</a></div>
<!--Cookie banner TODO:  data-message="Add this on the italian translation" -->
<script type="text/javascript" id="cookiebanner"
  src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.0.0/cookiebanner.min.js"></script>
</body>
</html>