<!doctype html>
<html lang="en">
<!--
My github: https://github.com/Metsuryu
-->
<head>
  <title>I Cecchini Del Mare</title>
  <!--Meta-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Mario Cannistrà"/>
  <meta name="description" content="I Cecchini Del Mare - Geolocation-based social network for spearfishing"/>
  <meta name="keywords" content="I,Cecchini,Del,Mare,I Cecchini Del Mare,ICDM,spearfishing,pesca subacquea,pesca,subacquea,social network,social,network,diving,immersione,Italia,Italiano,chat,posizione,geolocazione,geolocalizzazione,geolocation,position,gps,node,friends,help,fucile,arpione,SCUBA,muta,sub,login"/>
  <meta http-equiv="Cache-Control" content="max-age=300"/> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/index.css">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-99746590-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div id="header">
<div id="headerButtons">
  <a id="aboutusLink" target="_blank" href="/aboutus" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-info-sign"></span> <span id="aboutusLabel">About us</span> </a>
  <a target="_blank" href="https://www.facebook.com/groups/cecchinidelmare/" class="btn btn-primary btn-sm">
    <span class="fa fa-facebook"></span> <span id="fbGroupLabel">Facebook group</span> </a>
  <a id="langSelector" class="btn btn-primary btn-sm">
    <span class="fa fa-language"></span> <span id="langLabel">Language</span> <img id="langFlag" alt="Flag" src="img/flags/us.gif" height="11" width="16"> </a>
  <a id="faqLink" target="_blank" href="/faq" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-question-sign"></span> FAQ </a>
  <a id="contactusLink" target="_blank" href="/contactus" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-envelope"></span> <span id="contLabel">Contact us</span> </a>
  <a id="donateLink" target="_blank" href="/donate" class="btn btn-primary btn-sm">
    <span class="fa fa-paypal"></span> <span id="donateLabel">Donate</span> </a>
</div>
</div>


<div id="sky"></div>
<div id="wavesHorizon"></div>
<div id="underwater"></div>

<div id="fishContainer">
<img class="fish fishReverse mt5 aniB" src="/img/fishT.png" alt="fish"> 
<img class="fish fish1 mt10 aniB fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish fish2 mt-15 aniA fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish fish1 mt15 fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish fish3 mt-5 aniA fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish fish4 mt-10 aniC fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish mt35 aniC fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish fish4 mt20 aniA fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish fish4 mt25 aniB fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish mt15 fishReverse" src="/img/fishT.png" alt="fish">
<img class="fish fish2 aniD fishReverse" src="/img/fishT.png" alt="fish">

<img class="fish" src="/img/fishT.png" alt="fish">
<img class="fish fish1 mt5 aniA" src="/img/fishT.png" alt="fish">
<img class="fish fish2 mt10 aniC" src="/img/fishT.png" alt="fish">
<img class="fish fish3 mt15 aniA" src="/img/fishT.png" alt="fish">
<img class="fish fish4 mt-5 aniD" src="/img/fishT.png" alt="fish">
<img class="fish fish1 mt-10 aniB" src="/img/fishT.png" alt="fish">
<img class="fish mt-15 aniC" src="/img/fishT.png" alt="fish">
<img class="fish fish4 mt20 aniD" src="/img/fishT.png" alt="fish">
<img class="fish fish3 mt25 aniC" src="/img/fishT.png" alt="fish">
<img class="fish mt35" src="/img/fishT.png" alt="fish">
<img class="fish fish2 mt30 aniA" src="/img/fishT.png" alt="fish">
</div>

  <div class="container text-center"  id="loginJumbotron">
  <img src="/img/logoWhite.png" alt="Logo">

    <h4 id="loginLabel">Login or Register with:</h4>
    <a id="fbButton" href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>acebook</a> 
    <a id="googleButton" href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span>oogle</a>

  </div>

<div id="footer"> <a id="ppolLabel" href="/privacypolicy">Privacy policy</a> | <a id="tosLabel" href="/ToS">Terms of service</a></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" 
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
    crossorigin="anonymous"></script>
<script src="js/js.cookie.js"></script>
<script src="js/mobileDetection.js"></script>
<script src="js/translationIndex.js"></script>

</body>
</html>