<!DOCTYPE html><html lang="it"><head><title>Informativa sulla privacy</title></head><body><style>body {margin: 0;}
#header {
    background-color: #4980F4;
    text-align: left;   
    padding: .5em;
    padding-left: 1em;
}
#header a {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}
#mainContent{
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif;
    word-wrap:break-word;
}</style><div id="header"><a href="/">I Cecchini Del Mare</a></div><div id="mainContent"><h3>Informativa sulla privacy<a href="//www.iubenda.com/privacy-policy/8110224" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></h3></div></body></html>