<!DOCTYPE html>
<html lang="it">
<head>
	<title>Termini e condizioni
	</title>
</head>
<body>
<style type="text/css">
body {margin: 0;}
#header {
	background-color: #4980F4;
	text-align: left;	
	padding: .5em;
	padding-left: 1em;
}
#header a {
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
}
#mainContent{
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif;
    word-wrap:break-word;
}</style>
<div id="header">
<a href="/">I Cecchini Del Mare</a>
</div>
<div id="mainContent">
<h2 style="text-align: center;">TERMINI E CONDIZIONI</h2>
<ol><li><strong>Introduzione</strong></li></ol>
<p>Termini e condizioni scritte in questa pagina detteranno il tuo uso di questo sito.
Questi termini e condizioni vengono applicate interamente appena utilizzi questo sito.
Utilizzando questo sito, hai accettato tutti i termini e le condizioni scritte qui.
Non devi usare questo sito se non accetti qualsiasi termine o condizione scritta qui.</p>
<p>Utilizzare questo sito non è consentito a minorenni o persone al di sotto dei 18 anni.</p>
<ol start="2"><li><strong>Diritti e proprietà intellettuali</strong></li></ol>
<p>Oltre al contenuto che possiedi, sotto questi Termini, I Cecchini Del Mare e/o i suoi licenziatari possiedono tutti i diritti delle proprietà intellettuali e materiali contenute in questo sito.</p>
<p>Utilizzando questo sito, ti è permessa una licenza limitata che ti permette solo di vedere il materiale contenuto su questo sito.
</p>
<ol start="3"><li><strong>Limitazioni</strong></li></ol>
<p>Non ti è permesso specificatamente di:</p><ul>
<li>pubblicare qualsiasi contenuto del Sito in qualsiasi altro media o luogo;</li>
<li>vendere, offrire in licenza, o in qualsiasi altro modo commercializzare qualsiasi contenuto del Sito;</li>
<li>mostrare o esibire pubblicamente qualsiasi contenuto del Sito;</li>
<li>usare questo Sito in qualsiasi modo che causa o potrebbe causare danni a questo Sito;</li>
<li>usare questo Sito in qualsiasi modo che impedisca l'accesso agli utenti di questo Sito;</li>
<li>usare questo Sito in qualsiasi modo che vada contro le leggi in vigore o regolazioni applicabili, o in qualsiasi modo che causi danni al sito, a qualsiasi persona, ente, o attività;</li>
<li>eseguire qualsiasi forma di "data mining", "data harvesting", "data extracting" o qualsiasi altra attività simile in relazione a questo Sito;</li>
<li>usare questo sito per qualsiasi pubblicità o marketing.</li></ul>
<p>Il tuo accesso a alcune aree di questo Sito è limitato, e I Cecchini Del Mare potrebbe ulteriormente limitare il tuo accesso a qualsiasi area di questo Sito, in qualsiasi momento.
Qualsiasi ID utente o password che possiedi per questo sito sono confidenziali, e anche tu devi mantenere confidenzialità.</p>
<ol start="4"><li><strong>Il tuo Contenuto</strong></li></ol>
<p>In questi Termini e Condizioni, "Il tuo Contenuto" significherà qualsiasi audio, video, testo, immagini, o altro materiale che scegli di mostrare o condividere su questo sito.
Mostrando Il tuo Contenuto, permetti a I Cecchini Del Mare una licenza non-esclusiva, internazionale, non-revocabile, subappaltabile, da usare, riprodurre, adattare, pubblicare, tradurre, e distribuire, in qualsiasi media o luogo.</p>
<p>Il tuo Contenuto deve essere di tua possessine, e non deve infrangere diritti di terze parti.
I Cecchini Del Mare si riserva i diritti di rimuovere qualsiasi parte de Il tuo Contenuto da questo Sito in qualsiasi momento, senza notifica.</p>
<ol start="5"><li><strong>Nessuna Garanzia</strong></li></ol>
<p>Questo Sito è fornito "Così com'è", con tutti i difetti, e I Cecchini Del Mare non fornisce alcuna garanzia di qualsiasi tipo, su questo sito o sul materiale contenuto in questo Sito. Inoltre, nulla contenuto in questo Sito 
può essere interpretato come una raccomandazione.</p>
<ol start="6"><li><strong>Limitazione di responsabilità</strong></li></ol>
<p>I nessun caso I Cecchini Del mare, o i suoi ufficiali, direttori, impiegati, o sviluppatori, potrà essere tenuto
responsabile per qualsiasi cosa che sia collegata in qualsiasi modo al tuo utilizzo di questo Sito.
I Cecchini Del Mare, compresi i suoi ufficiali, direttori, impiegati, o sviluppatori, non potrà essere
tenuto responsabile per qualsiasi danno, indiretto, consequenziale, o speciale, collegato in qualsiasi modo al tuo 
utilizzo di questo Sito.</p>
<ol start="7"><li><strong>Indennizzazione</strong></li></ol>
<p>Con la presente indennizzi a tutti gli effetti I Cecchini Del Mare da e contro ogni e/o tutte 
le responsabilità, costi, richieste, cause d'azione, danni, e spese 
collegate in qualsiasi modo al tuo utilizzo di questo Sito.</p>
<ol start="8"><li><strong>Severabilità</strong></li></ol>
<p>Se qualsiasi disposizione in questi Termini viene identificata come invalida sotto qualsiasi legge applicabile
in vigore, tale disposizione sarà cancellata senza influire sul resto delle disposizioni nella presente.</p>
<ol start="9"><li><strong>Variazioni dei termini</strong></li></ol>
<p>A I Cecchini Del Mare è permesso di rivedere o modificare questi Termini in qualsiasi momento,
e utilizzando questo sito ci si aspetta che tu controlli questi Termini frequentemente per eventuali cambiamenti.</p>
<ol start="10"><li><strong>Assegnamenti</strong></li></ol>
<p>A I Cecchini Del Mare è permesso di assegnare, trasferire, o subappaltare i suoi diritti e/o
obbligazioni sotto questi Termini senza alcuna notifica.
In ogni caso, non hai il permesso di assegnare, trasferire, o subappaltare i tuoi diritti e/o obbligazioni
sotto questi Termini.</p>
<ol start="11"><li><strong>Intero accordo</strong></li></ol>
<p>Questi Termini costituiscono l'intero accordo tra I Cecchini Del Mare e te, in relazione all'uso di questo Sito,
e sostituiscono tutti i precedenti accordi o simili.</p>
<ol start="12"><li><strong>Legge e giurisdizione governante</strong></li></ol>
<p>Questi Termini saranno governati e interpretati in conformità delle leggi dello stato Italiano,
e ti sottoponi alla giurisdizione non esclusiva dello stato e dei tribunali federali in Italia per la risoluzione di eventuali controversie e/o dispute.</p>
</div>
</body>
</html>