/*General*/
* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box; 
}
body {
	word-wrap:break-word;
	/*Previous: #f4f4f4 or #F0EDE5*/ 
	background-color: white;
	font: 13px Helvetica, Arial; 
}
/*Map*/
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	height: 300px;
}
/*#A3CCFF for sea color*/
#topMap {
	background: #4980F4;
  	display: inline-block;
 	margin: 0 0em 0em 0;
 	text-align: center;
 	height: 3.5em;
  	width: 100%;
    border-top-left-radius: 200px;
  	border-top-right-radius: 200px;
  	margin-top: 2em;
}
#topMap a {
	margin: 0.5em;
}
.profilePic {
	border-radius:30px; 
    border:1px solid #000 !important; 
}
/*Chat*/
.chatWindow {
	background-color: white;
	float: right;
	overflow: hidden;
	border: solid 2px #4980F5;
	width: 260px;
	height: 340px;
	position: fixed;
	bottom: 0%;
	right: 205px;
}
form { 
	background: #4980F5; 
	padding: .12em; 
	bottom: -0.5%;
	width: 100%;
	position: relative;
}
form input { 
	padding: .1em; 
	width: 100%; 
}
.messages {
	overflow: auto;
	top: 0;
	height: 288px;
	margin: 0; 
	padding: 0; 
}
.infoMsg {
	clear: both;
	padding: 0.5em;
	margin: 1em;
	border-radius: 25px;
    background: #F0EDE5;
    color: black;
    font-weight: bold;
    width: 80%;
    text-align: center;
	margin: 0 auto;
}
.receivedMessage {
	padding: 0.5em;
	margin: .5em;
	border-radius: 15px;
    background: #F0EDE5;
    color: black;
    width: 70%;
    float: left;
}
.sentMessage {
	padding: 0.5em;
	margin: .5em;
	border-radius: 15px;
    background: #4980F5;
    color: white;
    width: 70%;
    float: right;
}
.chatWindowHeader {
	cursor: pointer;
	background-color: #4980F5;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	padding: 0.2em;
}
.chatCloseButton {
	cursor: pointer;
	float: right;
	padding-right: 5px;
	padding-left: 5px;
}
.chatCloseButton:hover {
    background-color: red;
}
#chatUserName {
	cursor: text;
}
/*Contacts*/
#contactsBox {
	background-color: #f4f4f4;
	float: right;
	border: solid 2px #4980F4;
	width: 200px;
	height: 50%;
	padding-left: 0px;
	padding-top: 0px;
	position: fixed;
	right: 0;
	bottom: 0%;
	/*For search bar*/
	padding-bottom: 4em;
}
#contactsList{
	height: 100%;
	min-height: 3em;
	overflow: auto;
}
.contactsBoxMobile{
	top:0%;
	margin-top: 1em;
}
#contactsHandle {
	cursor: pointer;
	background-color: #4980F4;
	padding-bottom: .3em;
	text-align: center;
}
.contactsHandleMobile{
	background-color: #286dff !important;
	border: 1px solid black;
}
#contactsHandle:hover {
    background-color: #286dff;
}
#contactsSpan {
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	padding: .1em;
}
#contactsBox li {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
#contactsBox li {
	padding-left: 1em; 
  	text-indent: -.7em;
  	margin:.1em;
  	cursor: pointer;
 	background-color: #f4f4f4;
  	color: black;
}
#contactsBox li:hover {
	background-color: #A7CDF2;
}
#contactsBox li::before {
	font-size: 2em;
	content: "• ";
  	color: green; /* Color of the dot */
  	vertical-align: middle;  
}
#searchField {
	bottom: 5px;
	/*position: absolute;*/
	margin-left: 0.5em;
	min-height: 1.5em;
}
.searchFieldMinimized{
	position: relative;
}
.unread{
	color: red;
	margin-left: 2em;
}
/*Header*/
#header {
	background-color: #4980F4;
	text-align: left;
	padding: .5em;
	padding-left: 4em;
	width:100%;
}
@media screen and (max-width: 800px) {
	#header {
		padding-left: 0em;
	}
}
@media screen and (min-width: 790px) {
	#logout {
		float: right;
	}
}
#header a, #langSelect a {
	background-color: #4980F4;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	margin-left: .2em;
}
#logout {
	background-color: #D9534F !important;
}
#langSelect {
	position: absolute;
	width: 97px;
	background-color: #555;
	border: 1px solid black;
	z-index: 9999;
	margin-top: 1%;
}
#langSelect a{
	margin: 0.3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/*Mobile*/
.headerMobileA {
	margin: .5em;
	margin-top: 1em;
	border: 1px solid black;
	display: block;
} 
.langSelectMobile {
	margin-left: 86%;
}
#menu, #menuButtons{
	padding-left: 0.2em;
	font-size: 2em;
	color:white;
	cursor: pointer;
	z-index: 9998;
}
#menu{
	padding-left: 1em;
	margin-bottom: 1em;
}
#headerButtons{
	font-size: small;
}
.headerButtonsMobile{
	background-color: #555;
	border: 1px solid black;
}