body {
	word-wrap:break-word;
	/*Previous: #f4f4f4 or #F0EDE5*/
	background-color: white;
	font: 13px Helvetica, Arial;
}

#bgLogo{
	width: 100%;
	margin-top: 2em;
}

a,a:hover {
	color: white; 
}

#header {
	background-color: #4980F4;
	text-align: left;	
	padding: .5em;
	padding-left: 4em;
}

@media screen and (max-width: 750px) {
	#header {
		padding-left: 0em;
	}
}

#header a {
	background-color: #4980F4;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	margin-left: .2em;

	display: inline-block;
}


#footer {
	background-color: #4980F4;
	color: white;
	font-size: 1em;
	padding-left: 1em;
	width: 100%;
	position: fixed;
	bottom: 0%;
}

#loginJumbotron {
	background-color: white;
	color: black;
	margin-bottom: 3em;
}

#langSelect {
	position: absolute;
	width: 97px;
	background-color: #4980F4;
	border: 1px solid black;
	z-index: 9;
}

#langSelect a{
	margin: 0.3em;
}

#menu, #menuButtons{
	padding-left: 1em;
	font-size: 2em;
	color:white;
	cursor: pointer;
}

#headerButtons{
	font-size: small;
}