* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box; 
}

body {
	word-wrap:break-word;
	/*TODO: Adjust colors*/
	background-color: #f4f4f4;
	font: 13px Helvetica, Arial; 
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
	width: 100%;
	height: 300px;
}


/* TODO: Adjust
Chat:
*/
.chatWindow {
	background-color: white;
	float: right;
	overflow: hidden;
	border: solid 2px #4980F5;
	width: 260px;
	height: 340px;
	position: fixed;
	bottom: 0%;
	right: 205px;
}

form { 
	background: #4980F5; 
	padding: .12em; 
	bottom: -0.1%;
	width: 100%;
	position: relative;
}

form input { 
	padding: .1em; 
	width: 100%; 
}

.messages {
	overflow: auto;
	top: 0;
	height: 288px;
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
.messages li { 
	padding: 5px 10px; 
}
/*TODO: Remove if I color-code backgrounds for each user*/
.messages li:nth-child(odd) { 
	background: #eee; 
}

.receivedMessage {
	/*TODO: Fix style*/
	padding-right: 5px;
	padding-left: 5px;
}

.sentMessage {
	/*TODO: Fix style*/
	padding-right: 5px;
	padding-left: 5px;
}

.chatWindowHeader {
	cursor: pointer;
	background-color: #4980F5;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	padding: 0.2em;
}

.chatCloseButton {
	cursor: pointer;
	float: right;
	padding-right: 5px;
	padding-left: 5px;
}

.chatCloseButton:hover {
    background-color: red;
}

#chatUserName {
	cursor: text;
}

#contactsBox {
	background-color: #f4f4f4;
	float: right;
	overflow: auto;
	border: solid 2px #4980F4;
	width: 200px;
	height: 50%;
	padding-left: 0px;
	padding-top: 0px;
	position: fixed;
	right: 0;
	bottom: 0%;
}

#contactsHandle {
	cursor: pointer;
	background-color: #4980F4;
	padding-bottom: .3em;
	text-align: center;
}

#contactsHandle:hover {
    background-color: #286dff;
}

#contactsSpan {
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	padding: .1em;
}


/*
#contactsBox li {
	padding-left: 20px;/*
	list-style-image: url();
}
*/

#contactsBox li {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#contactsBox li {
	padding-left: 1em; 
  	text-indent: -.7em;
  	margin:.1em;
  	cursor: pointer;
 	background-color: #f4f4f4;
  	color: black;
}

#contactsBox li:hover {
	background-color: #A7CDF2;
}

#contactsBox li::before {
	font-size: 2em;
	content: "• ";
  	color: green; /* Color of the dot */
  	vertical-align: middle;  
}


.tab {
	cursor: pointer;
	background-color: #4980F4;
	color: white;
	font-weight: bold;
	padding: .1em;
}

.tab:hover {
    background-color: #286dff;
}

#header {
	background-color: #4980F4;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

#footer {
	background-color: #4980F4;
	color: white;
	font-size: 1em;
	padding-left: 1em;
	width: 100%;
	position: fixed;
	bottom: 0%;
}